@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-700 dark:text-gray-300;
}

.sk-layout.with-bg > div {
  background-image: url("/sklipper/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sk-header .logo {
  fill: #ea3644;
}

.sk-header .logo-text {
  fill: #262626;
}

.dark .sk-header .logo {
  fill: #ea3644;
}

.dark .sk-header .logo-text {
  fill: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-700 dark:text-gray-200;
}

a {
  @apply no-underline text-gray-500 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-100;
}

.sk-section {
  width: inherit;
}

/* @media screen(lg) {
  .sk-post .sk-post-content {
    width: calc(100% - 300px);
  }
  .sk-post .sk-post-sidebar {
    width: 300px;
  }
  .sk-post .sk-post-sidebar > div {
    width: inherit;
  }
} */


/* .dark.sk-post .sk-post-content img {
  @apply border-gray-800;
}

.dark.sk-post .sk-post-content .sk-syntax-light,
.sk-post .sk-post-content .sk-syntax-dark {
  @apply hidden;
}

.sk-post .sk-post-content .sk-syntax-light,
.dark.sk-post .sk-post-content .sk-syntax-dark {
  @apply block;
}

.dark.sk-post .sk-post-content .sk-syntax-dark code span.token {
  background-color: transparent !important;
} */